################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/crawl-ref/source/MSVC/.vs/config/applicationhost.config
/crawl-ref/source/MSVC/crawl-ref.VC.db
/crawl-ref/source/MSVC/crawl-ref.VC.VC.opendb
